img {
    border-radius: 10px;
    width: 320px;
}

.select-input {
    margin-bottom: 8px;
}

.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.detail-item {
    display: flex;
    margin-left: 128px;
    margin-right: 128px;
    flex-direction: column;
    justify-content: center;
}

.back-link {
    margin-top: 8px;
}